.section-padding {
  padding: 120px 0;
}

.coaches__card {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 700px;
  margin-top: 80px;
  border-radius: 20px;
  transition: 0.8s;
}

.coaches__card_margin {
  margin-right: 65px;
  margin-left: 65px;
}

.coaches__card:hover {
  height: 850px;
  background-color: rgba(230, 230, 230, 0.7);
}

.coaches__image-wrapper {
  position: absolute;
  width: 350px;
  height: 500px;
  top: 0px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.8s;
}

.coaches__card:hover .coaches__image-wrapper {
  top: -100px;
  scale: 0.8;
}

.coaches__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.coaches__content {
  position: absolute;
  width: 100%;
  height: 35px;
  padding: 0 40px;
  top: 525px;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  transition: 0.8s;
  
}

.coaches__info-name {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.coaches__card:hover .coaches__content {
  height: 500px;
  top: 375px;
}
