.course-info {
  padding: 100px 0;
}

.course-info__ouput {
  display: inline-block;
}

.heading_mg_60 {
  padding-bottom: 60px;
}

.course-info__pages {
  width: 360px;
  padding-top: 20px;
  margin-right: 35px;
}

.course-info__tooltip {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.course-info__tooltip::after {
  content: "При наличии свободных мест";
  position: absolute;
  font-size: 16px;
  padding: 5px 15px;
  top: -150%;
  left: 125px;
  border-radius: 2px;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  white-space: nowrap;
  color: var(--color-dark);
  background-color: var(--color-white);
  box-shadow: 0px 2px 5px 1px gray;
}

.course-info__tooltip:hover::after {
  opacity: 1;
}
