footer {
  background-color: rgba(20, 16, 36, 1);
}

.container__footer {
  max-width: 1920px;
}

.phone__footer {
  margin: 40px 100px 0px 987px;
  color: var(--color-white);
}

.footer__logo {
  margin-left: 100px;
  margin-top: 40px;
}

.footer__copyright-logo {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 100px;
  margin-top: 5px;
  /* padding-bottom: 40px; */
}
