header {
  background-color: #141024;
}

.container__header {
  max-width: 1920px;
}

nav {
  display: inline-block;
}

.heading {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 48px;
}

.phone {
  color: rgba(255, 255, 255, 1);
  font-family: Jost;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
}

.header__logo {
  padding-left: 100px;
  padding-top: 30px;
  margin-right: 470px;
}

.nav__menu {
  display: inline-block;
}

.nav__item {
  display: inline-block;
  padding-right: 40px;
}

.nav__item:last-child {
  margin-right: 343px;
}

.nav__link {
  color: rgba(255, 255, 255, 1);
  line-height: 32px;
}

.nav__link:hover {
  opacity: 0.5;
}
