header {
  background-color: var(--color-dark);
}

.container__header {
  max-width: 1920px;
}

nav {
  display: inline-block;
}

.header__logo {
  padding-top: 30px;
  margin-right: 470px;
  padding-left: 100px;
}

.nav__menu {
  display: inline-block;
}

.nav__item {
  display: inline-block;
  padding-right: 40px;
}

.nav__item:last-child {
  margin-right: 343px;
}

.nav__link {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-white);
}

.nav__link:hover {
  opacity: 0.5;
}
