.heroarea {
  background-color: var(--color-dark);
}

.heroarea__heading {
  color: var(--color-white);
  font-size: 70px;
  font-weight: 600;
}

.heroarea__text {
  margin-top: 20px;
  margin-bottom: 75px;
}

.heroarea__promo-right {
  display: inline-block;
  position: relative;
  width: 700px;
  height: 911px;
  margin-top: 162.52px;
}

.heroarea__promo-img1,
.heroarea__promo-img2 {
  position: absolute;
}

.heroarea__promo-left {
  max-width: 516px;
  display: inline-block;
  vertical-align: top;
  margin-top: 344px;
}

.heroarea__promo-img1 {
  width: 515.525px;
  height: 917.485px;
  z-index: 1;
  right: 50px;
}

.heroarea__promo-img2 {
  width: 783px;
  height: 783px;
  top: 100px;
}
