.main-info__text-info {
  font-size: 30px;
  line-height: 48px;
  width: 891px;
  color: var(--color-dark);
}

.main-info__stats {
  display: inline-block;
  margin-top: 60px;
}

.main-info__list {
  display: inline-block;
}

.main-info__amount {
  font-size: 70px;
  font-weight: 600;
  color: var(--color-red);
}

.main-info__subjects {
  width: 258px;
}

.main-info__stats li {
  margin-right: 40px;
}

.main-info__stats li:last-child {
  margin-right: 0;
  margin-left: 24px;
}
