.training-package {
  padding-bottom: 140px;
}

.training-package__card {
  display: inline-block;
  width: 360px;
  height: 460px;
  margin-top: 80px;
  margin-right: 40px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  transition: 0.8s;
}

.training-package__card:last-child {
  margin-right: 0px;
}
.training-package__course-name {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 63px;
  /* color: var(--color-dark); */
}

.training-package__sum {
  display: block;
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  /* color: var(--color-dark); */
}

.training-package__course {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 61px;
  /* color: var(--color-dark); */
}

.training-package__card:first-of-type .training-package__course {
  margin-bottom: 32px;
}

.training-package__button {
  display: block;
  text-align: center;
  width: 280px;
  height: 79px;
  margin: 0 auto;
}

.training-package__card:hover {
  scale: 1.1;
  color: var(--color-white);
  background-color: var(--color-dark);
}

/* .training-package__card:hover .training-package__course-name {
  transition: margin-bottom 0.8s;
  margin-bottom: 83px;
} */
